.navBar {
    height: 50px;
    width: 100%;
    background-color: antiquewhite;
    font-size: 20px;
    color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    align-items: center;


}

h1 {
    margin: 0px;
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
}

.myChart {
    margin-top: 20px;
    height: 100px;

}